
@media (min-width: 670px) {
  .container {
    max-width: 658px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media all and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .profil{
    width: 50%;
    margin-bottom: 50px;
  }
  .nama{
    margin-left: 57px;
  }
  .txt-contents{
  margin-left: 37px;
  }
  .inner .logo-alpa {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px; 
  }
@media all and (max-width: 670px) {
  body {
    overflow-x: hidden;
  }
  .profil {
    width: 100%;
  }

  .txt-contents{
  margin-left: 37px;
  .inner {
    margin-top: 30px;
  }
  .inner .logo-alpa {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 270px;
    height: 460px;
    margin-top: 110px;
  }
  .txt-contents {
    width: 100%;
  }  
  .heading h2 {
    font-size: 20px;
  }
  
  .heading h3 {
    font-size: 20px;
  }
  .btn {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
